.gotGreek-box{
	position:absolute; 
	padding:2em 1em 3em;
	font-size:12px;
	z-index:4999;
	background-color:#444444;
	border-radius: 5px;
	border:#eeeeee solid;
	z-index=999;
	min-width:10em;
	max-width:30em;
	color:#cddde6;
	font-family:Arial;
} 
.gotGreek-close{
	position:absolute; 
	top:-0.5em;right:5px; 
	cursor:hand; 
	cursor:pointer;
} 
.gotGreek-attribution{
	position:absolute;
	bottom:5px;
	right:5px;
	width:7em;
}
#gotGreek-menu{
	position:fixed;
	z-index:5000;
	top:5em;
	left:5%;
	width:90%;
	opacity:0.85;
	background-color:#444444;
	color:#cddde6;
	display:block;
	font-weight:bold;
	font-family:Arial;
	min-height:400px;
}
#gotGreek-menu.hidden,#gotGreek-menu .hidden{
	display:none;
}
#gotGreek-to, #gotGreek-from{
	background-color:#cddde6;
	color:#444444;
	margin:2em 2em 0em 0em;
	width:15em;
	outline:none;
	border:1px solid #cddde6;
	border-radius:5px;
	box-shadow: inset 1px 1px 2px #cddde6;
	font-weight:bold;
	font-family:Arial;
}
#gotGreek-buttonWrap{
	width:70%;
	margin:auto;
	padding:2em;
}
#gotGreek-menu button{
	margin:2em 0em 0em 2em;
	font-family:Arial;
	font-weight:bold;
	padding:0.2em;
	background-color:#cddde6;
	border-radius:5px;
	vertical-align:bottom;
}
#gotGreek-terminate{
	color:#ff0000;
}
.gotGreek-direction{
	vertical-align:middle;
	padding:0px 1em;
}
