#gotGreek-box{
	background-color:#444444;
	padding: 0.5em;
	z-index: 2147483647; 
	opacity:0.85;
	position:absolute;
	font-size:12px;
	border-radius: 5px;
	border:#eeeeee solid;
	min-width:10em;
	max-width:30em;
	color:#cddde6;
	font-family:Arial;
	white-space:pre-line;
} 
.gotGreek-attribution{
	position:absolute;
	bottom:5px;
	right:5px;
	width:7em;
}
#gotGreek-menu{
	position:fixed;
	z-index:2147483647;
	top:5em;
	left:5%;
	width:90%;
	opacity:0.85;
	background-color:#444444;
	color:gold;
	display:block;
	font-weight:bold;
	font-family:Arial;
	min-height:100px;
	text-align:center;
}
