#gotGreek-box, #gotGreek-menu{
	font-family:Arial;
	z-index:2147483647;
	background-color:#000000;
	color: #e3ce63; /* yellow */
}
#gotGreek-box{
	position:absolute;
	font-size:12px;
	padding: 10px;
	min-width:10em;
	max-width:30em;
	white-space: pre-line;
} 
#gotGreek-box p.text {
  color: DarkGray;
}

#gotGreek-menu{
	position:fixed;
	font-size:18px;
	top:5em;
	left:5%;
	width:90%;
	display:block;
	min-height:100px;
	text-align:center;
}
